name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  contracts:
    name: Smart Contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
      - run: npx hardhat compile
      - run: npx hardhat test

  web:
    name: Web Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: web/package-lock.json
      - run: npm ci
      - run: npx prisma generate
      - run: npm run build
        env:
          NEXT_PUBLIC_REGISTRY_ADDRESS: "0x0000000000000000000000000000000000000000"
          NEXT_PUBLIC_MARKETPLACE_ADDRESS: "0x0000000000000000000000000000000000000000"
          NEXT_PUBLIC_BRIDGE_ADDRESS: "0x0000000000000000000000000000000000000000"

  runtime:
    name: Runtime
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: runtime
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: runtime/package-lock.json
      - run: npm ci
      - run: npm run build

  sdk:
    name: SDK
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: sdk
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: sdk/package-lock.json
      - run: npm ci
      - run: npx tsc --noEmit

  sequencer:
    name: Sequencer
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: sequencer
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: sequencer/package-lock.json
      - run: npm ci
      - run: npx tsc --noEmit
